body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.tempconversion {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 60px;
  color: #002aff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 20px;
}

.button input {
  margin: 0 10px;
}

#convert {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#convert:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
}
